$main-nav-mobile-bg: #81b3d2;
$main-nav-mobile-bg-hover: #669ec0;
$main-nav-mobile-bg-active: #5496bd;
$main-nav-mobile-link: #ffffff;
$main-nav-mobile-link-active: rgba(255, 255, 255, 0.3);

$main-nav-link: #000000;
$main-nav-link-hover: #81b3d2;
$main-nav-link-active: rgba(0, 0, 0, 0.3);

$main-nav-current: #766357;
$main-nav-link-current-hover: #604e43;
$main-nav-link-current-active: rgba(118,99,87,0.3);

$banner-bg: #386d99;

$reason-bg-blue: #81b3d2;
$reason-bg-grey: #eeeeee;
$reason-text-white: #ffffff;
$reason-bg-img: #a66348;

$search-btn: #81b3d2;
$search-btn-hover: #669ec0;
$search-btn-active: #5496bd;
$search-btn-text: #ffffff;
$search-btn-text-active: rgba(255, 255, 255, 0.3);

$map-bg: #cce0a4;

$social-link-bg: #81b3d2;
$social-link-bg-hover: #669ec0;
$social-link-bg-active: #5496bd;

$form-input-bg: #f2f2f2;
$form-input-hover: #e5e5e5;
$form-input-focus: #ffffff;
$form-input-text: #000000;

$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
