.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media #{$tablet-widths} {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__tagline {
  text-transform: uppercase;
  line-height: 26px;
  padding: 38px 0;
}

@media #{$tablet-widths} {
  .page-footer__tagline {
    padding: 47px 60px;
    padding-right: 0;
  }
}

.page-footer__tagline h2 {
  margin: 0;
}

.page-footer__social {
  display: flex;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  font-size: 0;
  width: 46px;
  height: 48px;
  fill: #ffffff;
  background-color: $social-link-bg;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $social-link-bg-hover;
  }

  &:active {
    background-color: $social-link-bg-active;
    fill: rgba(255, 255, 255, 0.3);
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  padding-bottom: 23px;
  padding-top: 40px;
}

@media #{$tablet-widths} {
  .page-footer__copyright {
    padding: 0;
    padding-right: 60px;
  }
}

.page-footer__copyright-text {
  text-transform: uppercase;
  margin-right: 10px;
}

.icon-html-academy {
  width: 42px;
  height: 42px;
  fill: #000000;

  &:hover {
    fill: #669ec0;
  }

  &:active {
    fill: #b2b2b2;
  }
}
