.reasons {
  position: relative;
}

.reasons__item {
  padding: 35px 28px 19px 28px;

  &--blue {
    background-color: $reason-bg-blue;
    color: $reason-text-white;
  }

  &--gray {
    background-color: $reason-bg-grey;
  }

  &--line::after {
    content: "";
    display: block;
    position: absolute;
    left: 25px;
    right: 25px;
    margin-top: 15px;
    width: auto;
    height: 1px;
    background-color: #d6d6d6;
  }
}

@media #{$tablet-widths} {
  .reasons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reasons__item {
    padding: 35px 47px 19px 47px;
    min-height: 202px;
    width: 33%;
    box-sizing: border-box;
    flex-grow: 1;

    &--line::after {
      display: none;
    }
  }
}

@media #{$desktop-widths} {
  .reasons__item {
    padding: 50px 70px 45px 70px;
    min-height: 161px;
  }
}

.reasons__title {
  margin: 0 0 13px;
  @include h-font;
  text-transform: uppercase;
  text-align: center;
}

@media #{$tablet-widths} {
  .reasons__title {
    font-size: 21px;
  }
}

.reasons__dscr {
  margin: 0 0 16px;
  text-transform: uppercase;
  text-align: center;
}

.reasons__img {
  width: auto;
  min-height: 260px;
  background-color: $reason-bg-img;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--01 {
    background-image: url("../img/photo-city@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/photo-city@2x.jpg");
    }
  }

  &--02 {
    background-image: url("../img/photo-bridge@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/photo-bridge@2x.jpg");
    }
  }
}

@media #{$tablet-widths} {
  .reasons__img {
    width: 67%;
    min-height: 256px;

    &--02 {
      order: -1;
    }
  }
}
